.weather-block {
    margin: 16px;
    padding: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .temperature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #c2c2c2da;
  }
  
  .temperature-data {
    font-size: 35px;
    font-weight: bold;
    color: #9586c9ef;
  }
  