.container {
  background-color: #3f8cdd; 
  color: #161111; 
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  margin: 0; 
  width: 100%;
}

.weather-block {
  margin: 10px;
  padding: 10px;
  border: 2px solid #756161;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(30, 29, 29, 0.1);
  background-color: #f7f5f5; 
  width: 100%;
  max-width: 400px;
}

.temperature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #1c1212da;
}

.temperature-data {
  font-size: 43px;
  font-weight: bold;
  color: #3f8cdd; 
}


