.bold {
  text-align: justify;
  font-family: Helvetica;
  font-size: 22px; 
  background-color: #3f8cdd; 
  padding: 20px;
  width: fit-content;
  border-radius: 15px;
  color: #fff; 
}

.centre {
  max-width: 700px;
  text-align: center;
  margin: 0 auto; 
  background-color: #3f8cdd;
}

.button {
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 45px;
  cursor: pointer;
  background-color: #3f8cdd; 
  border: solid;
  color: #fff; 
  border-radius: 8px;
}

.space {
  padding: 50px;
  margin: 50px;
}

.quote-card {
  background-color: #149082e0;
  border: 2px solid #6236c8;
  border-radius: 8px;
  padding: 25px;
  margin-top: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote {
  font-family: Helvetica;
  font-size: 20px;
  color: #000000cb;
}

body {
  margin: 0 auto;
  width: 100%;
}
