
body {
    margin: 0 auto;
    width: 100%;
  }
  
  .helpline-container {
    background-color: #3498db;
    color: #fff;
    border-radius: 15px;
    box-shadow: 2 1 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 650px; 
    margin: 5% auto; 
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  
