.weather-container {
  text-align: center;
  margin: 0;
  padding: 10px;
  background-color: #3f8cdd; 
  color: #fff; 
  border-radius: 7px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

.weather-image {
  max-width: 80%; 
  border-radius: 12px;
  width: 100%;
  margin: 0 auto;
}

.temperature {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 12px;
}

body {
  margin: 0 auto;
  width: 100%;
}
